apache-airflow==2.7.3
apturl==0.5.2
awscli==1.22.34
bcrypt==3.2.0
beniget==0.4.1
boto3==1.28.1
brlapi==0.8.3
brotli==1.0.9
command-not-found==0.3
cupshelpers==1.0
db-dtypes==1.1.1
dbt-postgres==1.4.5
dbus-python==1.2.18
defer==1.0.6
distro==1.7.0
distro-info==1.1+ubuntu0.1
docker==5.0.3
dockerpty==0.4.1
docopt==0.6.2
duplicity==0.8.21
fasteners==0.14.1
fqdn==1.5.1
fs==2.4.12
gast==0.5.2
google-cloud-bigquery==3.9.0
google-cloud-storage==2.8.0
grpcio-status==1.54.0
gyp==0.1
html5lib==1.1
importlib-metadata==4.6.4
isoduration==20.11.0
jeepney==0.7.1
jsonpointer==2.4
kazam==1.4.5
language-selector==0.1
launchpadlib==1.10.16
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
monotonic==1.6
more-itertools==8.10.0
mplsoccer==1.2.1
mpmath==0.0.0
msgpack==1.0.5
netifaces==0.11.0
notebook==7.0.1
oauthlib==3.2.0
olefile==0.46
openpyxl==3.1.2
paramiko==2.9.3
pip-chill==1.0.3
pipenv==2023.10.3
ply==3.11
py-heat==0.0.6
pycryptodomex==3.11.0
pycups==2.0.1
pygobject==3.42.1
pyheat==0.2
pylint==2.17.2
pymacaroons==0.13.0
pymongo==4.3.3
pynacl==1.5.0
pyrfc3339==1.1
pyrsistent==0.19.3
python-apt==2.4.0+ubuntu2
python-debian==0.1.43+ubuntu1.1
python-dotenv==0.19.2
pythran==0.10.0
pyxattr==0.7.2
pyxdg==0.27
reportlab==3.6.8
roman==3.3
scikit-learn==1.3.1
secretstorage==3.3.1
shapely==2.0.2
sqlfluff-templater-dbt==2.0.4
statsbombpy==1.11.0
swagger-ui-bundle==0.0.9
sympy==1.9
systemd-python==234
texttable==1.6.4
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufolib2==0.13.1
ufw==0.36.1
unattended-upgrades==0.1
unicodedata2==14.0.0
unidecode==1.3.6
uri-template==1.3.0
usb-creator==0.3.7
virtualenv-clone==0.3.0
wadllib==1.3.6
webcolors==1.13
xdg==5
xkit==0.0.0
youtube-dl==2021.12.17
zipp==1.0.0
